<h1>Burger Manager</h1>

<h2>Requested Burgers</h2>

<ul>
  {{#each burger}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
  <div class="form-group">
    <label for="name">Burger Name:</label>
    <input type="text" id="burger_name" name="burger_name">
  </div>
  <button type="submit">Add Burger</button>
</form>
